

.card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  margin:0.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: rgb(176, 151, 176);
  cursor: pointer;
}

.card:hover {
  filter: brightness(110%);
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}